/* Widget */

.item {
    font-size: .9em;
    line-height: 1.2em;
    position: relative;
}

.item:hover{ cursor:pointer;}

.item .item-tweet,
.item .item-facebook-comment,
.item .item-post,
.item .item-news-in {
    padding: 30px 10px 10px 10px;
}

.item .item-tweet p.retweet,
.item .item-post p.shares,
.item .item-facebook-comment p.shares,
.item .item-tweet p.retweet-received {
    font-size: .7em;
    line-height: 16px;
}

.item .item-tweet p.retweet-received,
.item .item-post p.shares {
    margin: 10px 0 5px 0;
}

.item .item-tweet p.retweet:before,
.item .item-tweet p.retweet-received:before {
    background-position: -84px 0;
}

.item .item-facebook,
.item .item-news {
    padding: 10px 10px 10px 10px;
}

/*Stampa nazionale/agenzia stampa*/
.item .news-type1,
.item .news-type2,
.item .news-type4 {
    
}

.item .item-tweet-dashboard:before,
.item .item-facebook-dashboard:before,
.item .item-news-dashboard:before {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    position: absolute;
}

.item .item-tweet-dashboard:before {
    background-image: url('../img/icons/twitter.png');
}

.item .item-facebook-dashboard:before {
    background-image: url('../img/icons/fb.png');
}

.item .item-news-dashboard:before {
    background-image: url('../img/icons/news.png');
}

.item .item-tweet-dashboard,
.item .item-facebook-dashboard,
.item .item-news-dashboard {
    padding: 0 0 0 16px;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #888;
    font-size: .6em;
    line-height: 16px;
}

.item .item-tweet-dashboard a,
.item .item-facebook-dashboard a {
    color: #888;
}

.item .item-tweet-dashboard a:hover,
.item .item-facebook-dashboard a:hover {
    color: #333;
}

.item .item-tweet-dashboard .answer,
.item .item-tweet-dashboard .retweet,
.item .item-tweet-dashboard .retweet-received,
.item .item-tweet-dashboard .favorite,
.item .item-tweet p.retweet-received,
.item .item-tweet p.retweet {
    padding-left: 14px;
    position: relative;
}

.item .item-tweet-dashboard .answer:before,
.item .item-tweet-dashboard .retweet:before,
.item .item-tweet-dashboard .favorite:before,
.item .item-tweet p.retweet-received:before,
.item .item-tweet p.retweet:before {
    width: 12px;
    height: 12px;
    top: 1px;
    left: 0;
    background-image: url('../img/twitter-all.png');
    background-repeat: no-repeat;
    background-size: auto 12px;
    content: " ";
    position: absolute;
}

.item .item-tweet-dashboard .answer:before {
    background-position: 0 0;
}

.item .item-tweet-dashboard .answer:hover:before {
    background-position: -12px 0;
}

.item .item-tweet-dashboard .retweet:before {
    background-position: -60px 0;
}

.item .item-tweet-dashboard .retweet:hover:before {
    background-position: -72px 0;
}

.item .item-tweet-dashboard .favorite:before {
    background-position: -24px 0;
}

.item .item-tweet-dashboard .favorite:hover:before {
    background-position: -36px 0;
}

.box_social_user_picture {
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*    border: 1px solid black;*/
}

.social_user_info {
    line-height: 1em;
    margin: 10px;
    padding: 17px 0 0 0;
    position: relative;
}

.item .social_user_info .item-tweet-dashboard,
.item .social_user_info .item-facebook-dashboard {
    left: 62px;
    top: 0;
}

.tweet_received .item-tweet,
.item .item-facebook-comment {
    clear: both;
    padding-top: 0;
}

.item .social_user_info .username {
    color: #888;
}

/* Politician widget */

.politician-widget {
    padding: 20px 20px 30px 20px;
    text-align: center;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #888;
    overflow: hidden;
    min-height: 150px;
}

.politician-widget .title-part {
    margin: 10px 0;
}

.politician-widget .title-part h4 {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.politician-widget p.subtitle {
    color: #4d759e;
    font-size: 12px;
    margin: 0;
    padding: 3px 0 0 0;
    line-height: 1em;
}

.embed-tag,
.tweet-tag {
    display: block;
    position: absolute;
    font-size: .8em;
    right: -1px;
}

.embed-tag {
    bottom: -1px;
}

.tweet-tag {
    bottom: -1px;
    right: 80px;
}

.embed-tag,
.embed-tag-inline,
.tweet-tag {
    color: #888;
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 16px;
    padding: 3px 10px 3px 25px;
    line-height: 1em;
}

.embed-tag,
.embed-tag-inline {
    background-image: url('../img/embed.png');
}

.tweet-tag {
    background-image: url('../img/tweet.png');
}

