#primarie-title {
    display: block;
    margin: 10px auto;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
}

#primarie-subtitle {
    text-align: center;
    margin-bottom: 20px;
}

div.neartabs {
    width: 800px;
    border: 0;
    border-left: 1px solid #ddd;
    margin-left: -1px;
}

div.neartabs h3 {
    padding: 0 10px;
    margin: 30px 0 5px 0;
    text-align: center;
    font-size: 1.2em;
}

#primarie, #primarie-all {
    width: 950px;
    float: left;
}

#primarie-all {
    width: 100%;
}

#primarie-all div.neartabs {
    width: 1000px;
}

#primarie-spot {
    float: right;
    width: 180px;
    background-color: #eee;
    float: right;
    min-height: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

#primarie-spot p.conditions {
    font-size: .6em;
}

#primarie-spot form input {
    font-size: .6em;
    width: 90%;
}

#primarie-spot .btn-auth {
    width: 150px;
}

#primarie-spot .simil-home {
    width: 180px;
}

#primarie-spot p {
    line-height: 1em;
    margin-bottom: 20px;
}

