.table-list-statistics td {
    vertical-align: middle;
    font-size: 1.5em;
    line-height: .8em;
}

.table-list-statistics td small {
    font-size: .6em;
}

.table-list-statistics p.politician_reg_info {
    font-size: .6em;
    line-height: .8em;
}

.table-list-statistics p {
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.img-attivisti-small, .img-politician-small {
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.img-politician-small {
    background-position: center -8px;
}

.table-list-statistics td.statistics-num {
    font-size: 2em;
    text-align: right;
    padding-right: 20px;
    white-space: nowrap;
}

.table-list-statistics td.statistics-politician {
    text-align: left;
    max-width: 420px;
    white-space: nowrap;
    overflow: hidden;
}

.table-list-statistics td.statistics-twitter {
    width: 85px;
}

.table-list-statistics td.statistics-img {
    width: 70px;
}

.table-list-statistics td.statistics-pos {
    width: 40px;
    text-align: center;
    padding-right: 10px;
    white-space: nowrap;
    line-height: 1.2em;
    font-size: 160%;
}

.table-list-statistics td.statistics-tweet {
    max-width: 120px;
    width: 120px;
}

.table-list-statistics .statistics-info {
    padding-top: 5px;
    font-size: .8em;
    line-height: .6em;
}

.img-arrow {
    width: 40px;
}

.grey-profile {
    color: #aaa;
}

.grey-profile a {
    color: #888;
}
