@import url('statistics.css?version=3');
@import url('box.css?version=3');
@import url('common.css?version=2');

body, html {
    padding: 0;
    margin: 0;
    line-height: 1em;
}

body {
    padding-top: 40px;
}

#body-mini {
    padding-top: 30px;
}

#widget-header {
    height: 35px;
}

#widget-header-mini {
    height: 28px;
}

#widget-header a#link-home, #widget-header-mini a#link-home {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#widget-header a#link-home {
    width: 120px;
}

#widget-header-mini a#link-home {
    width: 95px;
}

#widget-header small, #widget-header-mini small {
    font-size: .8em;
}

#widget-header, #widget-header-mini {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    padding-top: 5px;
    background-color: #f89625;
    background-position: 10px 5px;
    background-repeat: no-repeat;
    text-align: right;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.1em;
}

#widget-header-mini {
    background-size: auto 24px;
    background-position: 10px 3px;
    padding-top: 2px;
    font-size: 0.9em;
    line-height: .9em;
}

#widget-header div {
    padding-right: 20px;
}

#widget-header-mini div {
    padding-right: 15px;
}

#widget-header div a, #widget-header-mini div a {
    text-decoration: underline;
    color: white;
}

#widget-div {
    overflow-y: scroll;
    overflow-x: hidden;
}

.table-list-statistics td.statistics-politician {
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
}

.table-list-statistics td.statistics-img {
    width: 60px;
    min-width: 60px;
}

.table-list-statistics td.statistics-num {
    width: 80px;
    min-width: 80px;
}

/* Small */

.table-list-statistics td.statistics-img-small {
    width: 40px;
}

.table-list-statistics td.statistics-img-small .img-attivisti-small,
.table-list-statistics td.statistics-img-small .img-politician-small {
    width: 40px;
    height: 40px;
    min-width: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center -4px !important;
}

.table-list-statistics td.statistics-pos-small {
    width: 16px;
    text-align: center;
    padding-right: 5px;
    white-space: nowrap;
    line-height: 1.2em;
    font-size: 100%;
}

.table-list-statistics td.statistics-num-small {
    font-size: 1.3em;
    text-align: right;
    padding-right: 5px;
    white-space: nowrap;
    min-width: 50px;
}

.img-arrow-small-widget {
    width: 20px;
}

.table-list-statistics td.statistics-politician-small {
    text-align: left;
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
}

/* Mini */

.table-list-statistics td.statistics-img-mini {
    width: 20px;
}

.table-list-statistics td.statistics-img-mini .img-attivisti-small,
.table-list-statistics td.statistics-img-mini .img-politician-small {
    width: 20px;
    height: 20px;
    min-width: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center -4px;
}

.table-list-statistics td.statistics-pos-mini {
    width: 8px;
    max-width: 8px;
    text-align: center;
    padding-right: 3px;
    white-space: nowrap;
    line-height: .9em;
    font-size: .9em;
}

.table-list-statistics td.statistics-num-mini {
    font-size: 1em;
    text-align: right;
    padding-right: 3px;
    white-space: nowrap;
    min-width: 25px;
}

.img-arrow-mini-widget {
    width: 15px;
}

.table-list-statistics td.statistics-politician-mini {
    font-size: 1em;
    text-align: left;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
}

.politician-widget {
    line-height: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.vert-cloud {
    width: 100%;
}

.embed-tag, .tweet-tag {
    display: none;
}

/* Items */

.detail-widget .item {
    width: 94%;
    margin: 5px 3% 0 3%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.detail-widget .item-twitter {
    border-color: #A4F0FE;
}

.detail-widget .item-facebook {
    border-color: #3B5997;
}

#body-mini .box_social_user_picture {
    display: none;
}

#body-mini .item .social_user_info .item-tweet-dashboard {
    left: 0;
}

.item .item-tweet-dashboard .answer:before,
.item .item-tweet-dashboard .retweet:before,
.item .item-tweet-dashboard .favorite:before,
.item .item-tweet p.retweet:before {
    top: 0;
}

#body-mini .box_social_user_info {
    padding-top: 20px;
}

.box_social_picture {
    display: none;
}

.summary-link {
    display: none;
}

.widget-p {
    text-align: center;
}
