
 html, body {
 font-family: "Gotham Narrow SSm","Helvetica Neue","Helvetica";
 font-size: 100%;
 }

.PublicAPI {
position: absolute;
 width: 160;
 top: 100px;
 left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
 .content {
 position: absolute;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-right: 20px;
 margin-left: 20px;
 left: 200px;
 width: 800px;
 }

 h1,h2,h3 {
 text-align: left;
 font-weight: initial;
 }

 p {

 }

 .ResourceInformation {
 color: #292f33;
 font-family: "Courier";
 width: 700px;
 margin: 20px;
 }

 .ResourceURL {
 color: #292f33;
 font-family: "Courier";
 width: 700px;
 margin: 20px;
 }

 .ExampleResult {
 color: #292f33;
 font-family: "Courier";
 width: 700px;
 margin: 20px;
 }

 .ExampleRequest {
 color: #292f33;
 font-family: "Courier";
 width: 700px;
 margin: 20px;
 }

 .Parameters {
 color: gray;
 width: 700px;

 margin: 20px;
 font-size: 90%;
 }

 th {
 font-size: 80%;
 }

a {
text-decoration: none;
}
/* unvisited link */
a:link {
 color: #50A5E6;
}

/* visited link */
a:visited {
 color: #50A5E6;
}

/* mouse over link */
a:hover {
 color: #50A5E6;
}

/* selected link */
a:active {
 color: #50A5E6;
}

 .menu {
 border-left: 1px solid #50A5E6;
 margin: 10px;
 padding: 10px;
 list-style: none;
 }

 .menu-item {
 padding: 5px;
 }

th {
padding: 10px;
    text-align: left;
}
 .param {
 #font-weight: bold;
 padding: 10px;
 text-align: left;
 color: #292f33;
 vertical-align: text-top;
 font-family: "Courier";
 }

 .description {
 padding: 10px;
 #text-align: left;
 vertical-align: text-top;
 #width: 300px;
 text-align: justify;
 text-justify: inter-word;
 color: #292f33;
 }

 .value {
 vertical-align: text-top;
 padding: 10px;
 text-align: left;
 color: #292f33;
 }

 .required {
 vertical-align: text-top;
 padding: 10px;
 text-align: left;
 color: #292f33;
 }

 h2 {
  margin-top: 40px;
  border-bottom: 1px solid #50A5E6;
 }